
* {
    margin: 0;
}

header {
    height: 100px;
    border: 7px dashed rgb(247, 4, 178);
    padding: 16px;

    /* background-color: rgb(154, 54, 112); */
    background-image: url('../rocketseat.png');

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-origin: content-box;
    background-clip: content-box;
    /* background-attachment: fixed; scroll acompanha a barra de rolagem*/

    background: radial-gradient(pink, blueviolet);
}

div {
    color: blueviolet;
    width: 150px;
    height: 100px;
    border: 1px solid red;
    margin: 50px 8px 10px 10px; /* example shorthand */
    padding: 0 20px;

    outline: double pink 15px; /* mais usado pelo user agent para acessibilidade */
}

